* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(47, 85, 97);
}
.wrapper {
  display: inline-flex;
}
.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  /* background: red; */
  overflow: hidden;
}

.dynamic-txts li {
  color: rgb(98, 237, 80);
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 120%;
  width: 100%;
  background: rgb(47, 85, 97);
  border-left: 2px solid rgb(98, 237, 80);
  animation: typing 1.5s steps(13) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
